*, *:before, *:after {
@include box-sizing(border-box);
}

html, body {
  height: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.alert-container{
  position: fixed;
  z-index: 999999;
  width: 100%;
}
.alert{
  position: relative;
  font-size: 4em;
  &.fade.in{
    opacity: 0.9;
  }
  .message{
    font-family: $font-family-fairview;
  }
}

.outer-wrap{
  min-height: 100%;
}

.inner-wrap{
  padding: 0 10px 120px 10px; // bottom needs to be bigger than footer height
  margin: 0 0 20px 0;
  overflow:auto;
  
  @media (min-width: $screen-md-min) {
    padding: 0 30px 140px 30px; // bottom needs to be bigger than footer height
  }
}

.header{
  background: $color-six;
  .navbar{
    color: none;
  }
  .navbar-brand{
    height: 80px;
  }

  .logo{
    height: 100%;
    padding-right: 20px;
  }
}

footer{
  margin-top: -140px; // negative value of footer height
  height: 120px;
  padding: 20px 10px 0 10px;
  color: $color-two;
  background: $color-six;
  position: relative;
  clear:both;
  .copyright{
    text-align: center;
    img{
        margin: 5px auto;
        width: 30px;
    }
    a{
        color: $color-two;
    }
  }
}
.popover-title{
  color: white;
  background: $color-six;
  font-size: 1.5em;
  letter-spacing: 0.04em;
}
.overview-content{
  padding: 4px;
  border: 4px solid $color-six-t4;
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
  &:hover{
    @media (min-width: $screen-md-min){
      @include transition(all 0.3s ease-in-out);
      border-color: $color-seven;
    }
  }
  h2{
    font-family: $font-family-helvetica;
    font-size: 2em;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
  }
  .btn-group{
      width: 100%;
      .btn{
        width: 50%;
        border-radius: 0px;
      }
  }
  .overview-draft{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: $color-eight;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $color-two;
  }  
}

.users-card{
  .users-image img{
    display: block;
    width: 100%;
    margin: 40px 0 0 0;
  }
}

.settings-right{
  .settings-social-inputs{
      input{
        display: hidden;
      }
  }
  .settings-save{
    width: 50%;
  }
}
