#fakeUpload {
    width: 378px;
    position: absolute;
    left: 0;
    top: 0;  
}

#fileUpload {
    opacity: 0;
    cursor: pointer;
}

#imageDataURI {
    margin-left: -9999px;
}

#thumbnailBox span img {
    height: 101px;
    margin-top: 20px;
}