// Brand colors
// -------------------------

$color-one: #65625b; // Grey
$color-two: #ede6dc; // Tan
$color-three: #47b39c; // Teal
$color-four: #eb6b56; // Salmon
$color-five: #eb6b56; // Pink
$color-six: #444444; // Lt Purple
$color-six-t4: rgba(103, 54, 83, 0.4);
$color-six-t2: rgba(103, 54, 83, 0.2);
$color-seven: #452344; // Dk Purple

// Typeography
// -------------------------

$font-family-fairview:  "fairviewregular", Helvetica, Arial, sans-serif;