<form id="portfolioEntry">
  <div class="col-md-12">
    <input type="text" class="form-control admin-input-title" name="title" placeholder="Title">
  </div>
  <div class="col-md-6 markdown-description">
    <textarea id="pEntryBodyMark" class="form-control admin-textarea markdown-description" rows="15" placeholder="Project Description" name="bodyMarkdown"></textarea>
    <a href="#" class="markdown-description-btn" data-toggle="popover"><i class="fa fa-info-circle"></i></a>
  </div>
  <div class="col-md-6">
    <div id="pEntryBodyHtml" class="entry-body-html" name="bodyHtml"></div>
    {{!-- <textarea id="pEntryBodyHtml" class="form-control admin-textarea" rows="15" placeholder="Project Description" disabled></textarea> --}}
  </div>
  <div class="col-md-6">
    <h2>Portfolio Images</h2>
    <div class="file-upload">
      <div class="col-md-6 remove-left-padding">
        <input type="text" class="form-control admin-input input-lg" placeholder="Main Image Location">
        <a href="#"><i class="fa fa-cloud-upload file-upload-icon"></i></a>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control admin-input input-lg" placeholder="Image Alt Text">
      </div>
    </div>
    <!-- upload more images populate here -->
    <div class="new-image-upload"></div>
    <div class="col-md-12 remove-left-padding">
      <a type="button" class="btn btn-success add-img-btn">Add another image <i class="fa fa-plus-circle"></i></a>
      <a type="button" class="btn btn-danger remove-img-btn">Remove image <i class="fa fa-minus-circle"></i></a>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Meta Data</h2>
    <input type="text" class="form-control admin-input input-lg" name="pageTitle" placeholder="Page Title">
    <input type="text" class="form-control admin-input input-lg" name="metaDescription" placeholder="Meta Description">
    <input type="text" class="form-control admin-input input-lg" name="slug" placeholder="Url Path">
    <input type="text" class="form-control admin-input input-lg" name="sortTags" placeholder="Tags" data-role="tagsinput">
  </div>
  <div class="col-md-12 btn-group publish-btns">
    <a type="button" class="btn btn-primary btn-lg save-draft"><i class="fa fa-floppy-o"></i> Save Draft</a>
    <a type="submit" class="btn btn-success btn-lg publish"><i class="fa fa-arrow-up"></i> Publish</a>
  </div>
</form>