<div class="overview-content">
  <h2>{{title}}</h2>
  <p>{{bodyExcerpt}} ...</p>
  <div class="btn-group">
    <a href="#admin/portfolio/edit/{{_id}}" type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> edit</a>
    <a href="#" type="button" class="btn btn-danger portDelete"><i class="fa fa-trash-o"></i> delete</a>
  </div>
</div>
