<div class="col-md-6 settings-left">
  <h1><i class="fa fa-users"></i> Users</h1>
  <article class="users-card">
  <div class="col-xs-2 users-image">
  <img src="{{google.picture}}" alt="" class="img-circle">
  </div>
  <div class="col-xs-10 users-info">
  <h2>{{name}}</h2>
  <ul>
    <li>Email: {{email}}</li>
    <li>Role: Super Admin</li>
  </ul>
  <a href="#" type="button" class="btn btn-success btn-xs"><i class="fa fa-pencil-square-o"></i> edit</a>
  <a href="#" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> delete</a>
  </div>
  </article>
</div>