<div class="col-lg-7 col-md-7">
  <a href="#">
    <img class="img-responsive" src="http://placehold.it/700x300">
  </a>
</div>
<div class="col-lg-5 col-md-5">
  <h3>{{title}}</h3>
  <h4>{{tags}}</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
  <a class="btn btn-primary" href="#">View Project</a>
</div>
<hr>