<div class="col-md-6 settings-left">
  <h1><i class="fa fa-users"></i> Users</h1>
</div>
<div class="col-md-6 settings-right clearfix">
  <h1><i class="fa fa-cog"></i> General Settings</h1>
  <input type="text" class="form-control admin-input input-lg" placeholder="Site Title">
  <input type="text" class="form-control admin-input input-lg" placeholder="Site Description">
  <input type="text" class="form-control admin-input input-lg" placeholder="Primary Email">
  <h2 class="settings-social-btns">
  <i class="fa fa-facebook-square" data-social="facebook"></i>
  <i class="fa fa-twitter-square" data-social="twitter"></i>
  <i class="fa fa-github-square" data-social="github"></i>
  <i class="fa fa-linkedin-square" data-social="linkedin"></i>
  <i class="fa fa-pinterest-square" data-social="pinterest"></i>
  <i class="fa fa-youtube-square" data-social="youtube"></i>
  </h2>
  <div class="settings-social-inputs">
    <input type="text" class="form-control admin-input input-lg facebook" placeholder="Facebook">
    <input type="text" class="form-control admin-input input-lg twitter" placeholder="Twitter">
    <input type="text" class="form-control admin-input input-lg github" placeholder="Github">
    <input type="text" class="form-control admin-input input-lg linkedin" placeholder="Linkedin">
    <input type="text" class="form-control admin-input input-lg pinterest" placeholder="Pinterest">
    <input type="text" class="form-control admin-input input-lg youtube" placeholder="YouTube">
  </div>
  <a type="button" class="btn btn-success btn-lg settings-save"><i class="fa fa-floppy-o"></i> Save</a>
</div>